div{
    display : inline-block;
    width: 20px;
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 3px;
    border-style: groove;
    text-align: center;
}

span{
    width: 20px;
    background-color: aquamarine;
    color: blueviolet;
    border-radius: 3px;
    border-style: groove;
    text-align: center;
}