body{
    background-color: black;
}
.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  background-color: purple;
}
.green {
  background-color: aquamarine;
}

span{
    display : inline-block
}
